a {
    text-decoration: none;
}

img {
    width: fit-content;
}

ul {
    width: fit-content;
}

li {
    list-style: none;
}

nav {
    align-content: center;
}

nav li {
    display: inline;
}

fieldset {
    border: none;
}
.alert-success {
    background-color: lightgreen;
}

.alert-warning {
    background-color: lightyellow;
}

.center {
    text-align: center;
    width: 100%;
}

.bold {
    font-weight: bold;
}

.col {
    padding-left: 5px;
}

.id {
    color: gray;
}

.container {
    width: fit-content;
}

.even {
    background-color: lightgray;
}

.logout {
    display: inline;
}

.paginator {
    margin: 3em auto 1em auto;
    width: fit-content;
    text-align: center;
}

.paginator svg {
    width: 1em;
    height: 1em;
    margin: 0 0.5em;
    cursor: pointer;
}

.edit {
    color: tomato;
}

.trash {
    color: crimson;
}

.plus {
    color: green;
}

.right {
    display: inline-flex;
    margin-left: auto;
    margin-right: 0;
}

.row {
    display: flex;
    padding: 5px;
}

.uppercase {
    text-transform:uppercase;
}

.table-head {
    font-weight: bold;
    border-bottom: 1px solid darkgray;
}

.div-table {
    display: table;
    width: auto;
    /*background-color: #eee;*/
    /*border: 1px solid #666666;*/
    border-spacing: 5px; /* cellspacing:poor IE support for  this */
}
.div-table-row {
    display: table-row;
    width: auto;
    clear: both;
}
.div-table-col {
    float: left; /* fix for  buggy browsers */
    display: table-column;
    width: 200px;
    /*background-color: #ccc;*/
}
